.container
{
    margin-top: 40px;
    margin-bottom: 40px;
}

body
{
    font-size: 18px;
    scroll-behavior: smooth;
    color: var(--black-text);
    font-family: 'Roboto', sans-serif;
}

.title
{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
}

.header{
    margin-top: 60px;
    margin-bottom: 80px;
}

.wish_btn
{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;  
    color: #06415D;
    padding: 20px;
    background-color: #f6f6f6; 
    text-decoration: none; 
}

.desc_col
{
    width: 310px;
    height: 257px;
    left: 0px;
    top: 0px;
    
    background: #F6F6F6;
    border-radius: 8px;    
}

.all_wish_col
{
    padding-top: 20px;
}

.more_img
{
    padding-top: 25px;
    font-size: 25px;
    line-height: 29px;
    background: #EFEFEF;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;    
    
    color: #676767;    
}

.lrg_img
{
    padding-top: 30px;
    padding-left: 40px;
}

.descr_title
{
    font-size: 20px;
    line-height: 30px;
    color: #000000;    
}

.descr_price
{
    font-weight: 700;
    font-size: 40px;
    line-height: 37px;
    color: #000000; 
    margin-bottom: 0px;   
}

.ngn
{
    font-weight: 400;
    font-size: 20px;
}

.descr_donation
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #027637;    
}

.descr_div
{
    margin-top: 30px;
}

.modal_title_div
{
    padding-top: 20px;
}

.modal_title
{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;    
}

.modal_title_text
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;    
    color: #3E3E3E;    
}

.modal-header
{
    border-bottom: none;
}

.form_label
{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */   
    color: #000000;
    padding-bottom: 6px;

}

.modal_max_words
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */
    color: #9E9E9E;    
    padding-left: 40px;
}

.form_input
{
    background: #F6F6F6;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px 14px;
    max-width: var(--input-max-width);
}

.modal-footer
{
    border-top: none;
}

.close_modal
{
    padding: 22px;   
    padding-left: 65px;
    padding-right: 65px;
    background: #F6F6F6;
    border-radius: 4px;    
    color: #06415D;
}

.save_modal
{
    padding: 22px;   
    padding-left: 65px;
    padding-right: 65px;
    background: #C4C4C4;
    border-radius: 4px;    
    color: #fff;
}





/*--mobile--*/
@media (max-width: 978px) { 
.descr_div
{
    margin-top: 10px;
    margin-bottom: 30px;
}

.descr_title
{
    margin-bottom: 10px;
}

.col {
    justify-content: center;
    display: inline-grid;
}

.header {
    margin-top: 30px;
    margin-bottom: 80px;
    display: grid;
    justify-content: center;
}

.title
{
    margin-bottom: 30px !important;
}

}